.hero__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}

.hero__content {
  width: 100%;
  max-width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__image {
  max-width: 100%;
}

.hero__information {
  width: 100%;
  max-width: 30rem;
}
