.carousel__wrapper {
  margin-bottom: 3rem;
  max-width: 120rem;
}

.carousel__content {
  margin-top: 3rem;
  overflow: hidden;
}

.profile__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__name {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.profile__comment {
  text-align: center;
  width: 90%;
}

.profile__image-carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  width: 8rem;
}

.profile__comment {
  line-height: 1.6;
  font-weight: 100;
}

.profile__image-carousel {
  width: 100%;
}

.carousel-dots {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.carousel-dots button {
  border-width: 1px;
  border-style: solid;
}

.carousel__link-started {
  max-width: 15rem;
  display: flex;
  padding: 1.5rem 1.2rem;
  justify-content: center;
  align-items: center;
  margin: 2.6rem auto 2rem;
  border-radius: 2.5rem;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .carousel__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem;
    min-height: 29rem;
  }

  .profile__wrapper {
    border-radius: 1.4rem;
    min-height: 20rem;
    padding: 3rem 1rem 4rem;
  }

  .profile__image-carousel-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
