.navbar {
  width: 100%;
  height: 0;
  display: flex;

  position: fixed;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  top: 8rem;
  left: 0;
}

.navbar__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28rem;
  height: 25rem;
  padding: 1.6rem;
  border-radius: 0.6rem;
  margin: 1.6rem auto 0;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.06);
}

.menu__item {
  margin-bottom: 1.4rem;
}

.menu__link {
  font-weight: 500;
}

@media (min-width: 768px) {
  .navbar {
    position: static;
    opacity: 1;
    visibility: visible;
    height: auto;
    justify-content: flex-end;
  }

  .navbar__menu {
    width: auto;
    height: auto;
    box-shadow: none;
    flex-direction: row;
    margin: 0;
  }

  .menu__item {
    margin-bottom: 0;
    margin-left: 1rem;
  }

  .header__link--get-started {
    width: 15rem;
    display: flex;
    padding: 1.5rem 1.2rem;
    justify-content: center;
    margin-left: 1.5rem;
    align-items: center;
    text-align: center;
    border-radius: 2.5rem;
    font-size: 1.4rem;
  }
}
