.navbar.isActive {
  height: auto;
  min-height: 100vh;
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.isHidden {
  display: none;
}

.form__alert.isActive {
  display: block;
  transition: 0.3s ease-in-out;
}

.form__button:hover {
  filter: brightness(1.25);
  transition: 0.3s ease-in-out;
}

.link__button:hover {
  filter: brightness(1.25);
  transition: 0.3s ease-in-out;
}
