.main__containerTop {
  width: 100%;
}

.profile {
  max-width: 100%;
  margin: 0 auto 1rem;
  display: grid;
  grid-template-areas: "profile title" "profile name";
  grid-template-columns: 85px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  padding: 1.6rem;
}

.profile__content {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: profile;
}

.profile__image {
  max-width: 100%;
  border-radius: 50%;
}

.profile__text {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.profile__nameUser {
  grid-area: name;
  font-weight: 300;
  font-size: 1.8rem;
}

.list__periods {
  display: flex;
  padding: 1.6rem;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1000px) {
  .main__containerTop {
    max-width: 27rem;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 37rem;
    padding: 4rem;
    border-radius: 2.5rem;
  }
  .profile__text {
    margin-top: 3rem;
  }
  .profile__nameUser {
    font-size: 4rem;
  }

  .list__periods {
    flex-direction: column;
    align-items: flex-start;
  }
  .list__periods > * {
    margin-bottom: 1rem;
  }
}
