:root {
  --primary-red: hsl(12, 88%, 59%);
  --primary-blue: hsl(228, 39%, 23%);
  --dark-gray-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --pale-red: hsl(13, 100%, 96%);
  --light-gray: hsl(0, 0%, 98%);
}

button {
  background-color: transparent;
}

.header__hamburguer-image {
  color: var(--primary-blue);
}

.navbar.isActive {
  background-image: linear-gradient(
    to bottom,
    transparent 0.5%,
    var(--very-dark-blue) 99%
  );
}

.navbar__menu {
  background-color: var(--light-gray);
}

.menu__link {
  color: var(--primary-blue);
}

.text__title {
  color: var(--primary-blue);
}

.text__body {
  color: var(--dark-gray-blue);
}

.text__body--fontSmall {
  color: var(--dark-gray-blue);
}

.link__button {
  background-color: var(--primary-red);
  color: var(--pale-red);
  box-shadow: 0px 5px 8px 3px hsl(12deg 88% 59% / 40%);
}

.isBGWhite {
  background-image: linear-gradient(
    to bottom,
    var(--light-gray) 70%,
    transparent
  );
  transition: 0.3s ease-in-out;
}

.advantage__index {
  background-color: var(--primary-red);
  color: var(--pale-red);
}

.header__advantage:before {
  background-color: var(--pale-red);
}

.item--content__title {
  color: var(--primary-blue);
}

.profile__name {
  color: var(--primary-blue);
}

.profile__comment {
  color: var(--dark-gray-blue);
}

.carousel-dots button {
  border-color: var(--primary-red);
  background-color: transparent;
}

.carousel-dots button.active {
  background-color: var(--primary-red);
}
