@import url("./assets/css/reset.css");
@import url("./assets/css/variables.css");

.header {
  width: 100%;
  max-width: 120rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 1rem;
  padding: 1rem 1.5rem;
}

.header__link-logo {
  z-index: 5;
}

.header__logo {
  max-width: 5rem;
}

.header__button-hamburguer {
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  z-index: 5;
  border: none;
  border-radius: 50%;
  background-color: var(--primary);
}

.header__button-hamburguer span {
  line-height: 0.8rem;
  font-weight: 500;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.header__button-hamburguer.isOpen {
  background-color: var(--white);
  position: relative;
}

.header__button-hamburguer.isOpen span {
  color: var(--black);
}

.header__button-hamburguer.isOpen span:nth-last-child(2) {
  opacity: 0;
}

.header__button-hamburguer.isOpen span:nth-last-child(1),
.header__button-hamburguer.isOpen span:nth-last-child(3) {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 25%;
  width: auto;
  height: 1rem;
  font-size: 2rem;
}

.header__button-hamburguer.isOpen span:nth-last-child(1) {
  transform: rotate(45deg);
}
.header__button-hamburguer.isOpen span:nth-last-child(3) {
  transform: rotate(-45deg);
}

.header__navigation {
  width: 100%;
  height: 0;
  padding: 0;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--white);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.header__navigation.isOpen {
  padding: 8rem 1rem 0;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.header__menu {
  width: 100%;
  height: 100%;
  position: relative;
}

.header__menu > .menu__item:not(:nth-last-child(-n + 2)) {
  padding-bottom: 0.6rem;
  margin-bottom: 2rem;
}

.menu__item {
  margin-bottom: 1rem;
}

.menu__arrow {
  margin-right: 0.5rem;
  transition: 0.3s ease-in-out;
}

.menu__arrow.rotate--180 {
  transform: rotate(-180deg);
}

.menu__sub {
  margin-left: 1rem;
  margin-top: 0rem;
  height: 0;
  min-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.menu__sub.isOpen {
  margin-top: 1.5rem;
  height: auto;
  min-height: 10rem;
  overflow: auto;
  opacity: 1;
  visibility: visible;
}

.menu__sub > .menu__item {
  padding: 1rem 0.8rem;
  border-left: 6px solid var(--black);
}

.menu__link,
.menu__withSubMenu {
  font-weight: 500;
  text-decoration: none;
  color: var(--black);
  transition: 0.3s ease-in-out;
}

.menu__link:hover,
.menu__withSubMenu:hover {
  color: var(--primary);
}

.menu__social-media {
  position: absolute;
  bottom: 1rem;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
}

.social-media__item {
  margin-right: 1.6rem;
}

.social-media__icon {
  max-width: 4rem;
}

.menu__button {
  padding: 1rem 1.5rem;
  color: var(--white);
  border: none;
  background-color: var(--primary);
  transition: 0.3s ease-in-out;
  border-radius: 0.4rem;
}

.menu__button:hover {
  background-color: var(--secondary);
}
